@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 16px;
}

@media (max-width: 1536px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 13px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 36px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}





/* old imported styling */

  /* * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}
  

  @media (max-width: 1800px) {
    .planet-stepper {
        margin-top: 10%;
    }
  }
  
  @media (max-width: 1400px) {
    .planet-stepper {
        margin-top: 35%;
    }
  }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
} */

.floor:after {
  content: '';
  width: 50em;
  height: 25em;
  position: absolute;
  left: 50%;
  top: -80%;
  z-index: -1;
  transform: translate(-50%, -50%) rotateX(30deg) translateZ(-4em);
  background-image: radial-gradient(rgba(36, 49, 61, 0), #11171d 15em), radial-gradient(rgba(112, 230, 255, 0.2), rgba(0, 0, 0, 0)), linear-gradient(rgba(112, 230, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, transparent calc(100% - 1px), rgba(112, 230, 255, 0.1) calc(100% - 1px)), linear-gradient(90deg, #11171d calc(100% - 1px), transparent calc(100% - 1px)), linear-gradient(rgba(112, 230, 255, 0.5) 1px, transparent 1px);
  background-size: 100% 100%, 100% 100%, 6em 3em, 6em 3em, 6em 3em, 6em 3em;
  background-position: top center;
}

.proxz-nav {
  transform-style: preserve-3d;
}
.proxz-nav__system {
  perspective: 900px;
  position: relative;
  z-index: 1;
}
.proxz-nav__orbit, .proxz-nav__orbit:before, .proxz-nav__satellite {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
}
.proxz-nav__orbit {
  z-index: 10;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
}

.proxz-nav__orbit:nth-child(1) {
  width: 300px;
  height: 300px;
  z-index: 5;
  transform: translate(-50%, -50%) translateY(-110px) rotateX(65deg);
}
.proxz-nav__orbit:nth-child(1) .proxz-nav__label,
.proxz-nav__orbit:nth-child(1) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(1) .proxz-nav__satellite:before {
  -webkit-animation-duration: 38s;
          animation-duration: 38s;
}
.proxz-nav__orbit:nth-child(1) .proxz-nav__satellite:before {
  background-color: #70ffdb;
}
.proxz-nav__orbit:nth-child(1) .proxz-nav__label {
  color: #70ffdb;
}
.proxz-nav__orbit:nth-child(1) .proxz-nav__label:before {
  content: "01";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}

.proxz-nav__orbit:nth-child(2) {
  width: 400px;
  height: 400px;
  z-index: 4;
  transform: translate(-50%, -50%) translateY(-80px) rotateX(65deg);
}
.proxz-nav__orbit:nth-child(2) .proxz-nav__label,
.proxz-nav__orbit:nth-child(2) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(2) .proxz-nav__satellite:before {
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
}
.proxz-nav__orbit:nth-child(2) .proxz-nav__satellite:before {
  background-color: #70ffa0;
}
.proxz-nav__orbit:nth-child(2) .proxz-nav__label {
  color: #70ffa0;
}
.proxz-nav__orbit:nth-child(2) .proxz-nav__label:before {
  content: "02";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}

.proxz-nav__orbit:nth-child(3) {
  width: 500px;
  height: 500px;
  z-index: 3;
  transform: translate(-50%, -50%) translateY(-50px) rotateX(65deg);
}
.proxz-nav__orbit:nth-child(3) .proxz-nav__label,
.proxz-nav__orbit:nth-child(3) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(3) .proxz-nav__satellite:before {
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
}
.proxz-nav__orbit:nth-child(3) .proxz-nav__satellite:before {
  background-color: #7cff70;
}
.proxz-nav__orbit:nth-child(3) .proxz-nav__label {
  color: #7cff70;
}
.proxz-nav__orbit:nth-child(3) .proxz-nav__label:before {
  content: "03";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}

.proxz-nav__orbit:nth-child(4) {
  width: 500px;
  height: 500px;
  z-index: 2;
  transform: translate(-50%, -50%) translateY(0px) rotateX(65deg);
}
.proxz-nav__orbit:nth-child(4) .proxz-nav__label,
.proxz-nav__orbit:nth-child(4) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(4) .proxz-nav__satellite:before {
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
}
.proxz-nav__orbit:nth-child(4) .proxz-nav__satellite:before {
  background-color: #b8ff70;
}
.proxz-nav__orbit:nth-child(4) .proxz-nav__label {
  color: #b8ff70;
}
.proxz-nav__orbit:nth-child(4) .proxz-nav__label:before {
  content: "04";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}


.proxz-nav__orbit:nth-child(5) {
  width: 400px;
  height: 400px;
  z-index: 1;
  transform: translate(-50%, -50%) translateY(50px) rotateX(65deg);
}
.proxz-nav__orbit:nth-child(5) .proxz-nav__label,
.proxz-nav__orbit:nth-child(5) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(5) .proxz-nav__satellite:before {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.proxz-nav__orbit:nth-child(5) .proxz-nav__satellite:before {
  background-color: #f3ff70;
}
.proxz-nav__orbit:nth-child(5) .proxz-nav__label {
  color: #f3ff70;
}
.proxz-nav__orbit:nth-child(5) .proxz-nav__label:before {
  content: "05";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}


.proxz-nav__orbit:nth-child(6) {
  width: 300px;
  height: 300px;
  z-index: 0;
  transform: translate(-50%, -50%) translateY(100px) rotateX(65deg);
}
.proxz-nav__orbit:nth-child(6) .proxz-nav__label,
.proxz-nav__orbit:nth-child(6) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(6) .proxz-nav__satellite:before {
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
}
.proxz-nav__orbit:nth-child(6) .proxz-nav__satellite:before {
  background-color: #ffcf70;
}
.proxz-nav__orbit:nth-child(6) .proxz-nav__label {
  color: #ffcf70;
}
.proxz-nav__orbit:nth-child(6) .proxz-nav__label:before {
  content: "06";
  color: rgba(254, 254, 254, 0.75);
  padding-right: .5em;
}

.proxz-nav__orbit:before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: 0;
  box-sizing: border-box;
  border: 2px dashed #eaeaea;
  transform: translate(-50%, -50%) rotate(0);
  animation: orbitRotation 40s linear infinite reverse;
}
.proxz-nav__orbit:hover {
  cursor: pointer;
}
.proxz-nav__orbit:hover:before {
  border-width: 2px;
  border-color: #70e6ff;
}
.proxz-nav__orbit:hover .proxz-nav__label {
  opacity: 1;
  text-shadow: 0 0 1em #70e6ff;
}
.proxz-nav__orbit:hover .proxz-nav__satellite:before {
  opacity: 1;
}

.proxz-nav__satellite {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: orbitRotation 40s linear infinite;
          animation: orbitRotation 40s linear infinite;
  transform-style: preserve-3d;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.proxz-nav__satellite:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
  border-radius: 50%;
  transform: rotate(0) rotateX(-90deg);
  opacity: .25;
  animation: satelliteRotation 40s linear infinite reverse;
}
.proxz-nav__label {
  opacity: 0;
  padding: 0 8px 48px 0;
  pointer-events: none;
  text-align: left;
  text-transform: uppercase;
  transform-origin: 100% 50%;
  transform: rotate(0) rotateX(-90deg);
  transition: opacity .25s ease-in-out;
  animation: satelliteRotation 40s linear infinite reverse;
}
.proxz-nav__description {
  display: block;
  font-size: 12px;
  color: rgba(254, 254, 254, 0.75);
}

.proxz-nav__orbit.active-step:before {
  border-width: 2px;
  border-color: #70e6ff;
}
.proxz-nav__orbit.active-step .proxz-nav__label {
  opacity: 1;
  text-shadow: 0 0 1em #70e6ff;
}
.proxz-nav__orbit.active-step .proxz-nav__satellite:before {
  opacity: 1;
}

.hologram {
  perspective: 300px;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  background-image: radial-gradient(to top, #70e6ff, rgba(0, 177, 214, 0.3));
  background-repeat: no-repeat;
  box-shadow: 0 0.7em 0.25em -0.6em rgba(0, 0, 0, 0.5), 0 0.6em 1em -0.4em black, 0 0 1.5em 0 #70e6ff, 0 0 6em 1em rgba(112, 230, 255, 0.5), 0 0 3em 0.5em rgba(112, 230, 255, 0.5);
  transform-style: preserve-3d;
  pointer-events: none;
}
.hologram:after, .hologram:before {
  content: '';
  position: absolute;
  pointer-events: none;
  border-radius: .4em;
}
.hologram:before {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0;
  z-index: 0;
  transform: translate(-50%, -50%) translateZ(-10em) rotateX(50deg) scale(0.75);
  background-image: radial-gradient(rgba(17, 23, 29, 0), #11171d 35%), radial-gradient(rgba(112, 230, 255, 0.2), rgba(0, 0, 0, 0)), linear-gradient(rgba(112, 230, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, transparent calc(100% - 1px), rgba(112, 230, 255, 0.1) calc(100% - 1px)), linear-gradient(90deg, #11171d calc(100% - 1px), transparent calc(100% - 1px)), linear-gradient(#70e6ff 1px, transparent 1px);
  background-size: 100% 100%, 100% 100%, 6em 6em, 6em 6em, 6em 6em, 6em 6em;
  background-position: top center;
}
.hologram:after {
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: ยบ;
  transform-origin: 50% 100%;
  transform: translate(-50%, 0) rotateX(-86.8deg);
  background-image: radial-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(112, 230, 255, 0.1) 60%, rgba(0, 0, 0, 0) 70%);
  opacity: .75;
  -webkit-animation: lightVibration .07s linear infinite;
          animation: lightVibration .07s linear infinite;
}

@-webkit-keyframes lightVibration {
  50% {
    opacity: .25;
    height: 100vh;
  }
}

@keyframes lightVibration {
  50% {
    opacity: .25;
    height: 100vh;
  }
}
@-webkit-keyframes orbitRotation {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes orbitRotation {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes satelliteRotation {
  100% {
    transform: rotate(360deg) rotateX(-90deg);
  }
}
@keyframes satelliteRotation {
  100% {
    transform: rotate(360deg) rotateX(-90deg);
  }
} 
.cube-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 180px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.scene {
  width: 100px;
  height: 100px;
  perspective: 500px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #131314;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea !important;
  opacity: 0.6;
}

.front {
  transform: translateZ(75px);
}

.back {
  transform: translateZ(-75px) rotateY(180deg);
}

.right {
  transform: rotateY(90deg) translateZ(75px);
}

.left {
  transform: rotateY(-90deg) translateZ(75px);
}

.top {
  transform: rotateX(90deg) translateZ(75px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(75px);
}

@media (max-width: 1200px) {
  .cube-container {
      /* margin-left: 15vw; */
  }
}

@media (max-width: 1500px) and (min-width: 1300px) {
  .cube-container {
      margin-left: 5vw;
  }
}

@media (max-width: 992px) {
  .cube-container {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  }

  .flex-container {
      width: 100%;
      justify-content: center;
  }

  .scene {
      width: 70vw; /* Adjust width as necessary */
      height: 70vw; /* Adjust height as necessary */
      margin: 0 auto;
  }

  .cube {
      display: block;
      width: 100%;
      height: auto;
  }
}

/* engine section */
.engine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.engine-container svg {
  filter: drop-shadow(0 0 20px rgba(112, 230, 255, 0.3));
}

/* Custom scrollbar for audio player */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.1);
}